* { font-family: 'Poppins' }

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: hsl(213deg 85% 97%);
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: #98a1e3;
  
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 1em;
  background: hsl(233deg 36% 38%);
  border: none;
  font-weight: 600;
  color: white;
  border-radius: 8px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}